body {
  padding-top: 650px; /* equal to #hero's height + #header-bar li's height */
}

body > .section {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

/******************/
/*   Header Bar   */
/******************/

#header-bar {
  background-color: #fff;
  border-bottom: 2px solid #e9ecef;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#header-bar ul {
  border-left: 1px solid #eff2f5;
  border-right: 1px solid #eff2f5;
  width: 898px;
}

#header-bar li {
  border-left: 1px solid rgba(239, 242, 245, 0.15);
  border-right: 1px solid rgba(239, 242, 245, 0.15);
  box-sizing: border-box;
  display: inline-block;
  height: 50px; /* same as #header-bar li line-height, #hero top */
  line-height: 50px; /* same as #header-bar li height, #hero top */
  width: 19%;
}

#header-bar li:hover {
  background-color: #fcfcfc;
}

#header-bar li#logo {
  width: 24%;
}

#header-bar a {
  color: #9daab7;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  vertical-align: top;
  width: 100%;
}

#header-bar a:hover {
  color: #7f8c99;
}

/************/
/*   Hero   */
/************/

#hero {
  background-color: #eff2f5;
  height: 600px; /* equal to body's padding-top - #header-bar li's height */
  left: 0;
  position: fixed;
  text-align: center;
  top: 50px; /* same as #header-bar li height and line-height */
  width: 100%;
  z-index: 0;
}

#hero > .content {
  position: relative; /* so we can use z-index */
  text-align: center;
  z-index: 1; /* above the .bubble elements */
}

#hero h2 {
  animation-name: heroAppear;
  animation-duration: 750ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  -webkit-animation-name: heroAppear;
  -webkit-animation-duration: 750ms;
  -webkit-animation-delay: 500ms;
  -webkit-animation-fill-mode: forwards;
  color: #333;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin-top: 200px;
  opacity: 0; /* for the heroAppear animation */
  position: relative; /* for the heroAppear animation */
  text-shadow: 1px 1px 0 #fff;
}

#hero .button {
  animation-name: heroAppear;
  animation-duration: 750ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
  -webkit-animation-name: heroAppear;
  -webkit-animation-duration: 750ms;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-fill-mode: forwards;
  background-color: rgba(143, 7, 50, 0.6);
  margin-top: 50px;
  opacity: 0; /* for the heroAppear animation */
  position: relative; /* for the heroAppear animation */
  transition: background-color 400ms;
}

#hero .button:hover {
  background-color: rgba(143, 7, 50, 0.8);
  margin-top: 50px;
}

@keyframes heroAppear {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes heroAppear {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

/*************/
/*   About   */
/*************/

#about {
  padding: 150px 0;
}

#about > .content {
  margin: 0 auto;
  max-width: 1200px;
}

#about > .content > img {
  margin-bottom: 20px;
  opacity: 0.7;
  width: 40px;
}

#about > .content > p {
  color: #555;
  font-size: 18px;
  line-height: 1.7em;
  margin: 0 auto;
  width: 60%;
}

#about > .content > p strong {
  font-size: 22px;
  font-weight: 600;
}

#about ul {
  margin-top: 125px;
  text-align: left;
}

#about li {
  display: inline-block;
  margin: 0 3%;
  opacity: 0;
  position: relative;
  vertical-align: top;
  width: 27%;
}

#about li.animate {
  animation-name: aboutAppear;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
  -webkit-animation-name: aboutAppear;
  -webkit-animation-duration: 750ms;
  -webkit-animation-fill-mode: forwards;
}

#about li.animate:nth-child(1) {
  animation-delay: 750ms;
  -webkit-animation-delay: 750ms;
}

#about li.animate:nth-child(2) {
  animation-delay: 1000ms;
  -webkit-animation-delay: 1000ms;
}

#about li.animate:nth-child(3) {
  animation-delay: 1250ms;
  -webkit-animation-delay: 1250ms;
}

#about li h3 {
  color: #303030;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 12px;
}

#about li i {
  color: #bbb;
  margin-right: 9px;
}

#about li p {
  color: #555;
  font-size: 18px;
  line-height: 1.4em;
}

@keyframes aboutAppear {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes aboutAppear {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

/*****************/
/*   Slideshow   */
/*****************/

#slideshow {
  background-color: #e5e8eb;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fff), to(#e5e8eb)); /* Konqueror */
  background-image: -moz-linear-gradient(top, #fff, #e5e8eb); /* FF 3.6+ */
  background-image: -ms-linear-gradient(top, #fff, #e5e8eb); /* IE10 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e8eb)); /* Safari 4+, Chrome 2+ */
  background-image: -webkit-linear-gradient(top, #fff, #e5e8eb); /* Safari 5.1+, Chrome 10+ */
  background-image: -o-linear-gradient(top, #fff, #e5e8eb); /* Opera 11.10 */
  background-image: linear-gradient(top, #fff, #e5e8eb); /* standard */nd-color: #f6f6f6;
  border-bottom: 2px solid #e9ecef;
  width: 100%;
}

#slideshow .slide {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  max-width: 800px;
  padding: 100px 150px;
  text-align: left;
  width: 800px;
}

#slideshow .controls {
  margin: 40px auto 60px;
}

#slideshow .slide:nth-child(odd) .text {
  float: right;
}

#slideshow .slide:nth-child(odd) .image {
  float: left;
}

#slideshow .slide:nth-child(even) .text {
  float: left;
}

#slideshow .slide:nth-child(even) .image {
  float: right;
}

#slideshow .slide .image {
  background-image: url("../images/apple-cinema-display.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 276px;
  width: 360px;
}

#slideshow h3 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 16px;
}

#slideshow p {
  color: #777;
  font-size: 20px;
  line-height: 1.5em;
}

#slideshow p strong {
  color: #555;
  font-weight: 600;
}

/********************/
/*   Testimonials   */
/********************/

#testimonials {
  padding: 125px 0;
}

#testimonials > .content {
  margin: 0 auto;
  max-width: 1100px;
  min-width: 900px;
}

#testimonials .photo {
  border-radius: 9999px;
  border: 3px solid #eff2f5;
  height: 60px;
  padding: 3px;
  width: 60px;
}

#testimonials p {
  font-size: 22px;
  line-height: 1.5em;
  margin: 50px auto 60px;
  width: 60%;
}

#testimonials #quotation-mark {
  color: #aaa;
  font-size: 100px;
  opacity: 0.12;
}


/***********/
/*   Map   */
/***********/

#map {
  background-image: url("../images/map.png");
  background-position: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  height: 500px;
  overflow: hidden;
  position: relative;
}

#map .marker {
  background-color: #8f0732;
  border-radius: 9999px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 40px;
  left: 50%;
  margin-left: 127px;
  margin-top: -190px;
  position: absolute;
  top: -160px;
  width: 40px;
}

#map .marker:before {
  background-color: #fff;
  border-radius: 9999px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  content: "";
  height: 22px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 22px;
}

#map .marker:after {
  border-color: #8f0732 transparent transparent;
  border-style: solid;
  border-width: 14px 16px 0;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  top: 32px;
  width: 0;
}

#map .marker.animate {
  animation-name: markerDrop;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  animation-timing-function: ease-in;
  -webkit-animation-name: markerDrop;
  -webkit-animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-timing-function: ease-in;
}

@keyframes markerDrop {
  0% {
    top: -160px;
  }
  100% {
    top: 50%;
  }
}

@-webkit-keyframes markerDrop {
  0% {
    top: -160px;
  }
  100% {
    top: 50%;
  }
}

#map .blurb {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  display: inline-block;
  left: 50%;
  margin-left: 40px;
  margin-top: -120px;
  opacity: 0;
  padding: 15px 0 15px 20px;
  position: absolute;
  text-align: left;
  top: 50%;
  width: 200px;
}

#map .blurb.animate {
  animation-name: mapBlurbAppear;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
  animation-delay: 1300ms;
  -webkit-animation-name: mapBlurbAppear;
  -webkit-animation-duration: 550ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1300ms;
}

#map .blurb h3 {
  color: #222;
  font-size: 16px;
  margin-bottom: 10px;
}

#map .blurb p {
  color: #555;
  font-size: 14px;
  line-height: 1.4em;
}

@keyframes mapBlurbAppear {
  0% {
    opacity: 0;
    margin-top: -120px;
  }
  100% {
    opacity: 1;
    margin-top: -110px;
  }
}

@-webkit-keyframes mapBlurbAppear {
  0% {
    opacity: 0;
    margin-top: -120px;
  }
  100% {
    opacity: 1;
    margin-top: -110px;
  }
}

/**************/
/*   Footer   */
/**************/

#footer {
  padding: 100px 0;
}